.main {
  width: 800px;
  height: 45px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: #303f73 1px solid;
  cursor: text;
  input {
    width: 100%;
    background: none;
    border: none;
    color: rgb(199, 199, 199);
  }

  input:focus {
    outline: none;
  }

  span {
    color: #303f73;
    width: 20px;
  }
}
