.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: 0 0 30px 0;
  span {
    color: #50b2c0;
    font-size: 2rem;
    margin: 0 10px 0 0;
    align-items: center;
    display: flex;
  }

  p {
    color: white;
    font-size: 1.4rem;
  }
}
